In [19]:
import yfinance  as yf
import datetime as dt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [2]:
start=dt.datetime(2022,7,1)
end=dt.datetime(2023,7,28)
symbol='SBIN.NS'

In [3]:
stk_data = yf.download(symbol, start=start, end=end)

[*********************100%%**********************]  1 of 1 completed

In [4]:
stk_data=stk_data[['Open','High','Low','Close']]

In [5]:
stk_data

                  Open        High         Low       Close
Date
2022-07-01  463.350006  468.799988  460.549988  466.850006
2022-07-04  466.850006  474.149994  466.850006  473.450012
2022-07-05  475.149994  480.000000  471.000000  472.149994
2022-07-06  475.149994  481.000000  473.899994  479.950012
2022-07-07  484.000000  488.250000  481.600006  486.750000
...                ...         ...         ...         ...
2023-07-21  610.000000  619.500000  609.000000  615.099976
2023-07-24  615.049988  621.900024  614.299988  617.650024
2023-07-25  621.799988  621.799988  604.200012  609.599976
2023-07-26  612.000000  616.349976  609.150024  615.150024
2023-07-27  616.400024  621.250000  613.099976  616.549988

[266 rows x 4 columns]

In [6]:
column='Open'

In [7]:
series = stk_data['Open']

In [33]:
model = ExponentialSmoothing(series, trend='add', seasonal='add', seasonal_periods=5)
fitted_model = model.fit()
forecast = fitted_model.predict(start=len(series), end=len(series) + 4)

E:\software installtalation paths\anaconda\envs\time\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
E:\software installtalation paths\anaconda\envs\time\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
E:\software installtalation paths\anaconda\envs\time\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:836: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(

In [34]:
forecast

266    617.922069
267    617.988400
268    618.787301
269    620.045559
270    619.218070
dtype: float64

In [35]:
from sklearn.metrics import mean_squared_error
actual_values = series[-5:]  # Assuming the last 10 points are the actual values

mse = mean_squared_error(actual_values, forecast)
print("Mean Squared Error (MSE):", mse)

Mean Squared Error (MSE): 30.628426567730013